<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="science.credo.mobiledetector2">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name="science.credo.mobiledetector2.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="science.credo.mobiledetector2.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="science.credo.mobiledetector2.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="science.credo.mobiledetector2.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="science.credo.mobiledetector2.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="science.credo.mobiledetector2.detector.DetectorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="science.credo.mobiledetector2.statistics.StatisticsActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="science.credo.mobiledetector2.intro.IntroActivity" />

        <receiver android:name="science.credo.mobiledetector2.utils.UpdateTimeBroadcastReceiver"/>

        <receiver
            android:name="science.credo.mobiledetector2.utils.BatteryStateReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_BATTERY_CHANGED" />
            </intent-filter>

        </receiver>

    </application>

</manifest>